@model Biblioteca.Models.TurmaModel;
@{
    ViewData["Title"] = "Editar o cadastro da Turma";
}
<div class="text-center">

    <h1 class="display-4">Editar Turma</h1>

</div>

<form asp-controller="Turma" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="nome"> Descrição </label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite a descrição da turma">
    </div>


    <div class="form-group">
        <label for="composicaoEnsino"> Composição de Ensino </label>
        <input type="text"  asp-for="ComposicaoEnsino" class="form-control" placeholder="Digite a composição de ensino da turma">
    </div>


    <div class="form-group">
        <label for="anoEscolar"> Ano Escolar </label>
        <input type="text" asp-for="AnoEscolar" class="form-control" placeholder="Digite o ano escolar">
    </div>

    <button type="submit" class="btn btn-primary btn-block" asp-action="ConfirmarEditar" asp-controller="Turma" asp-route-id="@Model">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Turma" role="button">Voltar</a>

</form>




