@model Biblioteca.Models.AlunoModel;
@{
    ViewData["Title"] = "Adicionar um aluno";
    var turmaId = ViewBag.TurmaId;
    <p>Turma Id: @turmaId</p>

}
<div class="text-center">

    <h1 class="display-4">Adicionar um aluno</h1>

</div>

<form asp-controller="Aluno" asp-action="Adicionar" method="post">

    <input type="hidden" asp-for="TurmaId" name="TurmaId" value="@turmaId" />

    <div class="form-group">
        <label for="nome"> Nome </label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o Nome">
    </div>
    

    <div class="form-group">
        <label for="cpf"> CPF </label>
        <input type="text"  asp-for="Cpf" class="form-control" placeholder="Digite o CPF">
    </div>


    <div class="form-group">
        <label for="contato"> Data de nascimento </label>
        <input type="datetime" asp-for="DataNasc" class="form-control" placeholder="Digite a data de nascimento">
    </div>


    <button type="submit" class="btn btn-primary"> Salvar </button>
    <a class="btn btn-secondary" asp-controller="Aluno" asp-action="Index" role="button" asp-route-turmaId="@ViewBag.TurmaId">Voltar</a>

</form>
   


    