@model Biblioteca.Models.EscolaModel;
@{
    ViewData["Title"] = "Adicionar Escola";
}
<div class="text-center">

    <h1 class="display-4">Adicionar uma Escola</h1>

</div>

<form asp-controller="Escola" asp-action="Adicionar" method="post">

    <div class="form-group">
        <label for="nome"> Nome </label>
        <input type="text" asp-for="Nome" required="required" class="form-control" placeholder="Digite o Nome">
    </div>
    

    <div class="form-group">
        <label for="inep"> Código INEP </label>
        <input type="number"  asp-for="Inep" required="required" class="form-control" placeholder="Digite o código INEP">
    </div>


    <div class="form-group">
        <label for="contato"> Contato </label>
        <input type="text" asp-for="Contato" required="required" class="form-control" placeholder="Digite o Contato">
    </div>


    <button type="submit" class="btn btn-primary"> Salvar </button>
    <a class="btn btn-secondary" asp-controller="Escola" asp-action="Index" role="button">Voltar</a>

</form>
   


    