@model Biblioteca.Models.EscolaModel;
@{
    ViewData["Title"] = "Editar o cadastro da Escola";
}

@section scripts{

    <script>
        function Decimais(obj, e) {
            var tecla = (window.event) ? e.keyCode : e.which;
            if (tecla == 8 || tecla == 0)
                return true;
            if (tecla < 48 || tecla > 57)
                return false;
        }
    </script>

}

<div class="text-center">

    <h1 class="display-4">Editar Escola</h1>

</div>

<form asp-controller="Escola" asp-action="Editar" method="post">

    <div class="form-group">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome da Escola">
        
    </div>

        <div class="form-group">
            <label for="inep"> Código INEP </label>
            <input type="text" asp-for="Inep" required="required" maxlength="8" class="form-control" placeholder="Digite o código INEP" onkeypress="return Decimais( this , event ) ;">
        </div>

    <div class="form-group">
        <label for="contato" class="form-label">Contato</label>
        <input type="text" asp-for="Contato" maxlength="15" class="form-control" placeholder="Digite o contato">
        
    </div>

    <button type="submit" class="btn btn-primary" asp-action="ConfirmarEditar" asp-controller="Escola" asp-route-id="@Model.Id">Alterar</button>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Escola" role="button">Voltar</a>

</form>




